@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap; css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {

    font-size: 1.2rem;
    border: 0;
}

* {    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

hr {
    display: none;
}

header {
    width: 100%;
    background: rgb(0, 0, 0);
    background-size: cover;
    padding: 0;
    margin: 0;
}

#logo {
    margin: 1em 0;
    padding: 1em 0;
    width: 8em;
}

.divlogo {
    display: inline-block;
    padding: 10px;
    align-self: left
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    letter-spacing: 1px;
    font-stretch: extra-condensed;
    color: #25a2c3;
    size: ;
    line-height: 1.5;
    margin: 1rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3;
    font-size: 100%;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3;
    line-height: 1.5;
}

.buttonblock {
    background-image: url(/assets/img/banner.jpg);
    background-size: cover;
    padding: 2em 0;
}

.buttonblock h1 {
    font-size: 200%;
    line-height: 1;
}

.buttonblock p {
    padding: 1em
}

.buttonblock button {
    background-color: #f04c2f;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    border-radius: 5px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.paragraph {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.paragraph>* {
    margin: 2em 0;
}

.paragraphtext p {
    margin-top: 0;
}

.notebookimg {
    width: 20rem;
    border-radius: 100%;
}

.quote {
    color: white;
    background-position: center;
    background: #e22d0e;
    background-size: auto;
    padding: 2em 0;
    margin: 0;
}

.quote>* {
    margin: 0 auto;
    margin-bottom: 1em;
    width: 80%;

}

.quote h1,
.quote h2,
.quote h3 {
    color: white;
}

.quote h3 {}

.workimg {
    width: 100%;
}

.luretext {
    border: 1px solid #dee1e3;
    width: 33%;
    border-radius: 5px;
    padding: 0;
    margin: 2rem;
}

.lurecombo {
}

.luretext h2 {
    margin-bottom: 1em;
    
}

.luretext p {
    width: 19em;
    font-size: 1rem;
    margin-left: 0.8rem;
    padding-bottom: 1em;
}

.footer * {
    font-eight: 100;
}

footer {
    width: 100%;
    background: #25a2c3;
    background-size: cover;
    padding: 0;
    margin: 0;
    padding-bottom: 2em;
}

footer h1 {
    color: white;
    padding-top: 1.5rem;
    font-size: 30px;
}

.icon {
    width: 1em;
}

.footerlist {
    list-style-type: none;
    align-content: center;
    padding: 0;
}

.footerline a {
    text-decoration: none;
    color: white;
}

.footerlist span,
.footerlist a {
    color: white;
    font-size: 0.8em;
}

.footerline {
    margin: 0 auto;
    font-size: 0.8em;
    color: white;
    width: fit-content;
    border-top: 1px solid white;
    padding-top: 1em;
    margin-top: 2em;
}